body{
	color: #58595B;
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
}

a{
	color: #58595B;
}

a, a:hover, a:focus{
	text-decoration: none;
}

a:focus{
	color: #387acc;
}

.hm-menu{
	background-color: #f5f5f5;
	padding: 20px;
}

.hm-menu ul li{
	display: inline-block;
	position: relative;	
	margin: auto 8px;
}

.hm-menu ul li a{   
	/*background-color: red;*/
	padding: 10px 0px 0px 0px;
	display: block;
	font-size: 20px;
	margin-top: -20px;
	margin-bottom: -20px;
}

.hm-menu ul li.active a{  
	background-color: #79d5d4; 
}

.hm-menu ul li a:hover
.hm-menu ul li.active a:hover{  
	background-color: transparent; 
}


.hm-menu ul li .nav-text{  
	/*background-color: blue;*/ 
	padding: 25px 10px; 
	/*min-width: 90px; */
}

.hm-menu ul li .nav-text:hover,
.hm-menu ul li.active .nav-text{  
	background-color: #f5f5f5; 
	color: #65b1b0;
}

.hm-menu .collapse.in ul li.active .nav-text {
    background-color: #65b1b0;
    color: #f5f5f5;
}

.hm-menu .collapse.in ul li .nav-text:hover{
    background-color: #79d5d4;
    color: #f5f5f5;
}

.hm-menu ul li .nav-text:before{  
	background-color: red;
	padding: 10px 15px; 
}

/*
.hm-menu ul li a{
	background-color: #79d5d4; 
	position: relative;
}*/
.banner{
	max-height: 80vh;
	overflow: hidden;
	position: relative;
}

.banner img{
	width: 100%;
}

.banner .quote{
	font-size: 40px;
    top: 35%;
    left: 10%; 
    position: absolute;
    z-index: 200;
    font-weight: bold;
}

.banner .quote .fa{
	width: 50px;
}

.banner .quote .fa-quote-left { 
	/*float: left;*/
}

.banner .quote .fa-quote-right, 
.banner .quote .close-quote { 
	float: right;
}


.banner .quote .cnt {  
	/*display:block;*/
	margin: auto 0px auto 50px;
}


.sub-header{
	font-weight: bold;
}

.center{
	text-align: center;
}

.title-header{
	font-weight: bold;
	font-size: 200%;
	padding: 20px;
}
/*
.card{
	padding: 0px 50px; 
}*/

.hm-serv{
	background-color: #fff; 
	padding: 50px 30px 30px 30px;
}

.hm-serv .serv-img { 
	/*padding-top: 20px;*/
}

/*.hm-serv .serv-img img{
	width: 45%;
}*/

.hm-serv .card .hm-serv-desc{ 
	padding: 30px; 
}

.hm-team{
	background-color: #f5f5f5;
	padding: 30px;
}

/*.hm-team .card {
	padding: 0px 50px;
}*/

.hm-team .card .hm-team-desc{
	background-color: #fff;
	width: 100%;
	padding: 100px 30px 30px 30px;
	border-top: 6px solid #79d5d4;
	position: relative;
	margin-top: -80px;
	margin-bottom: 40px;
}

.hm-team .card .team-img{
	border: 6px solid #79d5d4;
	border-radius: 7px;
	position: relative;
	left: 25%;
	z-index: 2;
	width: 50%;
}

.hm-team .card .team-img img{
	width: 100%; 
}

.hm-footer{
	background-color: #e7e7e9;
	padding: 50px 30px 20px 30px;
}

.hm-footer hr{
	border-top: 1px solid #58595B;
}

.hm-footer .sub-header{
	margin-bottom: 7px; 
}

.hm-footer .cnt{
	padding: 7px 0px;
	text-align: justify;
	font-size: 14px;
}

.hm-footer ul li{
	display: block;
	margin-left: -40px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.hm-footer .social ul{ 
	margin-left: -40px;
}

.hm-footer .social ul li{
	display: inline;
	margin: 10px 10px 10px 0px;
}

@media (min-width: 465px){
	.hm-footer .sub-header {
	    margin-top: 25px;
	}
}
@media (min-width: 768px){
	.card {
    	padding: 7px;
	}
	.hm-serv{ 
		padding: 30px;
	}
	.hm-serv .serv-img img {
	    width: 30%;
	}
	.hm-footer .sub-header {
	    margin-top: 0;
	}
}
@media (min-width: 992px){
	.card {
    	padding: 0px 50px; 
	}
	.hm-serv{ 
		padding: 50px 30px 30px 30px;
	}
	.hm-serv .serv-img img {
	    width: 45%;
	}
}
@media (min-width: 1200px){
	.card {
    	padding: 0px 50px; 
	}
	.hm-serv{ 
		padding: 50px 30px 30px 30px;
	}
	.hm-serv .serv-img img {
	    width: 45%;
	}
}




/*About Us*/
.font-20{
	font-size: 20px;
}

.font-22{
	font-size: 22px;
}

.font-25{
	font-size: 25px;
}

.font-30{
	font-size: 30px;
}

.text-center{
	text-align: center;
}

.justify{
	text-align: justify;
}

.bold{
	font-weight: bold;
}

.color-blue{
	color: #7FCECD;
}

.color-white{
	color: #fff;
}

.color-black{
	color: #58595B;
}

.box-5{
	padding: 5px;
}

.box-10{
	padding: 10px;
}

.box-20{
	padding: 20px;
}

.box-30{
	padding: 30px;
}

.box-40{
	padding: 40px;
}

.box-50{
	padding: 50px;
}

.box-50-20{
	padding: 50px 20px;	
}


.title{	
	padding: 20px;
}

.title-margin{	
	padding: 20px;
	margin-bottom: 10px;
}

.title-desc{
	/*[roboto regular | size:20, line spacing:40]*/	 
	line-height: 40px;
	padding: 20px;
} 

.team-desc.font-20,
.team-cnt.font-20{
	font-size: 100%;
}

.team-title.font-25{
	font-size: 130%;
	padding-top: 10px;
}

.about .team{  
	padding: 20px 0px;
} 

.target{ 
	background-image: url('../img/Objectives_target.png'); 
	background-repeat: no-repeat;
    background-position-x: 100%;	
}

.core-values, .services-li{
	padding: 20px;
}

.core-values li{
	line-height: 30px;
}

.core-values li, .services-li li{
	display: block;
}

.core-values .list-item, .services-li .list-item{
	margin-left: 60px;
    display: block;
    margin-top: -35px;
    margin-bottom: 35px;
}

.about .team-img{
	/*border: 6px solid #79d5d4;
	border-radius: 7px;
	z-index: 2;*/
	position: relative;
	left: 15%;
	width: 70%;
}
.about .team-img img{
	width: 100%;
}

.about .team-cnt{
	line-height: 30px;
	text-align: justify;
}

.about .strip,
.courses .strip,
.services .strip{
	background-image: url('../img/ContactStripArtBG.jpg'); 
	background-repeat: no-repeat;
    background-position-x: 100%;
    background-color: #7ccecc;	
}

.about .strip .phone{
	margin: 0px 10px 0px 0px;
}




/*Contact Us Page*/
.contact-grp{
	padding: 10px 0px;
}

.no-padding{
	padding: 0px;
}

.no-left-padding{
	padding-left: 0px;
}
 
.no-right-padding{
	padding-right: 0px;
}

.no-side-padding{
	padding-left: 0px;
	padding-right: 0px;
}

.perc.font-18{
	font-size: 80%;
}

.perc.font-19{
	font-size: 90%;
}

.perc.font-20{
	font-size: 100%;
}

.perc.font-25{
	font-size: 130%;
	/*padding-top: 10px;*/
}

.contact .form-group{
	margin-bottom: 30px;
}

.globe{ 
	background-image: url('../img/internet.png'); 
	background-repeat: no-repeat;
    background-position-x: 100%;	
}

.contact .strip{
	/*background-image: url('../img/ContactStripArtBG.jpg'); 
	background-repeat: no-repeat;
    background-position-x: 100%;*/
    background-color: #7ccecc;	
}




.impact-background{
	background-color: #7FCECD;
	color: #fff;
}

.impact-background-inverse {
    background-color: #F9f9f9;
    color: #d2d2d2;
}

.settings{
	background-image: url('../img/art.png'); 
	background-repeat: no-repeat;
    background-position-x: 100%;	
}

.services .talk{
	margin-top: 30px;
}


.table-impact th{
	background-color: #7FCECD;
	color: #fff;
	text-align: center;
}

.table.table-impact > thead > tr > th, 
.table.table-impact > tbody > tr > th, 
.table.table-impact > tfoot > tr > th, 
.table.table-impact > thead > tr > td, 
.table.table-impact > tbody > tr > td, 
.table.table-impact > tfoot > tr > td{
	padding: 20px;
	border-top: 0px solid #ddd;
}

.table.table-impact > tbody > tr > td{
	border-left: thin solid #e9e9e9;
	border-right: thin solid #e9e9e9;
}

.table.table-impact > tbody > tr > td:first-child{
	border-left: 0px solid #e9e9e9; 
} 

.table.table-impact > tbody > tr > td:last-child{
	border-right: 0px solid #e9e9e9; 
}

.table.table-impact > tbody > tr:last-child{
	border-bottom: 1px solid #e9e9e9; 
}

.table-impact .fixed-width-xs{
	min-width: 100px;
}

.table-impact .fixed-width-sm{
	min-width: 120px;
}

.table-impact .fixed-width{
	min-width: 150px;
}

.table-impact ul li{
	display: block;
}

.table-impact ul{
	margin-left: -38px;
}






.panel-impact {
    border-color: #7FCECD;
}

.panel-impact > .panel-heading {
    color: #fff;
    background-color: #7FCECD;
    border-color: #7FCECD;
}

.course-section{
	height: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
    border-color: #7FCECD;
	
    -webkit-transition: height 2.7s;
    -moz-transition: height 2.7s;
    -o-transition: height 2.7s;
    transition: height 2.7s;
    -webkit-transition: box-shadow 0.4s;
    -moz-transition: box-shadow 0.4s;
    -o-transition: box-shadow 0.4s;
    transition: box-shadow 0.4s;
/*    -webkit-transition: border 0.4s;
    -moz-transition: border 0.4s;
    -o-transition: border 0.4s;
    transition: border 0.4s;*/
}

.course-section:hover{
	min-height: 300px;
	height: auto;
	overflow: visible;
	cursor: default;  
	box-shadow: 0px 3px 3px #c5cccb;  
}



@media (min-width: 768px){
	.course-section .dl-horizontal dd {
	    margin-left: 140px;
	}
	.course-section .dl-horizontal dt {
	    width: 120px;
	    text-align: left;
   }
}


.course-section ul li{
	display: block;
}

.course-section ul{
	margin-left: -40px;
	margin-bottom: 0px;
}



.mail-content{
    box-shadow: 0px 0px 10px #aaa;
    border-radius: 3px;
    padding-bottom: 20px;
}




.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.navbar {
    border-radius: 0px;
}

.navbar-toggle { 
    background-color: #58595b; 
}

.navbar-toggle .icon-bar { 
    background-color: #7fcecd; 
}

.nav > li {
    position: relative !important;
    display: block !important;
}

.navbar {
    margin-bottom: 0px;
}

.btn-impact{
	background-color: #7dcfce;
	font-weight: bold;
	padding: 12px 30px;
	color: #fff;
	font-size: 120%;
}

.quote .btn-impact{
	font-size: 60%;
	border-radius: 10px;
}

.btn-impact:hover{
	color: #fff;
}
